<div class="modal fade" id="{{ remote.device_name }}Modal" tabindex="-1" aria-labelledby="{{ remote.device_name }}ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ remote.device_name }}ModalLabel">{{ remote.device_name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if (remote.icon_file == 'fan_icon.png' or remote.icon_file == 'light_icon.png') %}
                    {% with device_id = remote.device_id %}
                    {% include "simple_controller.html" %}
                    {% endwith %}
                {% endif %}
                {% if remote.icon_file == 'aircon_icon.png' %}
                    {% with device_id = remote.device_id %}
                    {% include "aircon_controller.html" %}
                    {% endwith %}
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>